.apply {
  padding-block: 72px;
  background-color: $c-white;

  @include on-tablet {
    padding-block: 200px;
  }

  background-image: url(../images/Shapes.png);
  background-position: top;
  background-size: bottom;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include on-small-desk {
      max-width: 754px;
      margin-inline: auto;
    }
  }

  &__title {
    text-align: center;
  }

  &__text-motivation {
    color: $c-text;
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-half-bold;
    font-size: 22px;
    line-height: 150%;
    text-align: center;

    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 64px;
    }
  }

  &__button {
    @include button-style;

    width: 280px;
    font-weight: $font-half-bold;
  }
}
