.expertise {
  border-radius: 30px;
  background-color: $c-white;
  padding-block: 72px;

  @include on-tablet {
    padding-block: 128px;
  }

  &__title {
    color: $c-title;
    font-weight: $font-half-bold;
    font-size: 44px;

    margin-bottom: 56px;
    text-align: center;

    @include on-tablet {
      margin-bottom: 64px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;

    @include on-small-desk {
      flex-direction: row;
      gap: 137px;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__article-name {
    color: $c-title;
    font-weight: $font-half-bold;
    font-size: 20px;
    line-height: 140%;
  }

  &__article-text {
    color: $c-text;
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    max-width: 362px;
  }

  &__img-link {
    display: block;
    height: 166px;
    width: 166px;

    margin-bottom: 32px;

    @include on-small-desk {
      margin-bottom: 40px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
