.nav {
  &__list {
    @include list-style;

    &--big-screen {
      display: none;

      @include on-small-desk {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 48px;
      }
    }

    &--footer {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include on-tablet {
        flex-direction: row;
        gap: 40px;
      }

      @include on-small-desk {
        gap: 64px;
      }
    }

    &--menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 48px;
    }
  }

  &__link {
    padding-block: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: $c-white;

    font-weight: $font-bold;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;

    @include link-underline-style;
  }
}
