.services {
  @include on-tablet {
    padding-block: 0 120px;
  }

  @include on-small-desk {
    padding-block: 148px;
  }

  &__wrapper-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;

    @include on-tablet {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__text-content {
    @include on-tablet {
      grid-column: 1 / 2;
      transform: translateY(50%);
    }

    @include on-small-desk {
      transform: translateY(0);
    }
  }

  &__categories {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @include on-tablet {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      grid-column: 1 / -1;
    }

    @include on-small-desk {
      grid-column: 2 / -1;
    }
  }

  &__category {
    background-color: $c-white;
    padding: 32px;

    @include blocks-styling-shadow;

    @include on-tablet {
      &:nth-child(1) {
        transform: translateY(50%);
      }

      &:nth-child(3) {
        transform: translateY(50%);
      }
    }
  }

  &__name {
    @include section-name-gray;
  }

  &__title {
    color: $c-title;
    font-weight: $font-half-bold;
    line-height: 130%;
    font-size: 32px;

    margin-bottom: 24px;
  }

  &__text {
    color: $c-text;
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-normal;
    font-size: 14px;
    line-height: 150%;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__category-num {
    background-color: rgba($color: $c-blue, $alpha: 0.1);
    color: $c-blue;
    width: fit-content;
    padding: 2px 12px;
    border-radius: 23px;

    font-weight: $font-half-bold;
    font-size: 13px;
    margin-bottom: 24px;
  }

  &__categories-list {
    @include list-style;

    margin-bottom: 32px;
  }

  &__category-link {
    color: $c-text;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-half-bold;
    font-size: 13px;
  }

  &__go-further-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  &__go-further-button {
    background-color: $c-blue;
    color: $c-white;
    text-decoration: none;
    padding: 8px;
    border-radius: 50%;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform $effectDuration;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__go-further-text {
    color: #334563;
    font-weight: $font-half-bold;
    text-decoration: none;
  }
}
