@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}
@mixin on-small-desk {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin on-desk {
  @media (min-width: 1280px) {
    @content;
  }
}
@mixin on-design {
  @media (min-width: 1600px) {
    @content;
  }
}
@mixin on-large-screen {
  @media (min-width: 2560px) {
    @content;
  }
}

@mixin header-padding-y {
  padding-top: 20px;

  @include on-small-desk {
    padding-top: 52px;
  }
}

@mixin icons-style {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin button-style {
  box-sizing: border-box;
  display: block;
  color: $c-white;
  width: 280px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  border-radius: 8px;
  background-color: $c-blue;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0;
  border: 1px solid transparent;
  cursor: pointer;

  transition:
    background-color $effectDuration,
    color $effectDuration,
    border $effectDuration;

  @include on-tablet {
    width: 264px;
  }

  &:hover {
    background-color: $c-white;
    color: $c-blue;
    border: 1px solid $c-blue;
  }
}

@mixin list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin section-name-gray {
  color: #c0cdd7;
  font-weight: $font-bold;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

@mixin blocks-styling-shadow {
  border-radius: 16px;
  box-shadow: 0 9px 18px 0 #25293108;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

@mixin link-underline-style {
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: '';
    bottom: -8px;
    height: 1px;
    width: 100%;
    background-color: $c-white;

    transform: scale(0);
    transition: transform $effectDuration;
  }

  &:hover::after {
    transform: scale(1);
  }
}
